.base-button {
  $basebutton: &;

  --btn-inline-padding: var(--spacing-40, 0);
  --btn-block-padding: var(--spacing-30, 0);

  @include useUtilities.resetButton;
  padding-inline: var(--btn-inline-padding);
  padding-block: var(--btn-block-padding);

  &--is- {
    &s {
      @include useTypographies.text-paragraph-xs();
    }

    &l {
      @include useTypographies.text-paragraph-s($weight: black);

      --btn-inline-padding: calc(var(--spacing-40) + 4px);
      --btn-block-padding: calc(var(--spacing-30) + 2px);
    }
  }
}
