.section-content {
  $sectioncontent: &;
  --section-padding: var(--spacing-70, 0);

  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  overflow: auto;
  padding: var(--section-padding);
  flex: 0 0 var(--max-width);

  > * {
    width: 100%;
  }

  &:has(h2:only-child) {
    justify-content: center;

    > * {
      text-align: center;
    }
  }
}
