.navigation-tabs {
  $navigationtabs: &;
  --tabs-gap: var(--spacing-40, 0);
  --tabs-view-padding: var(--spacing-60, 0);

  &__bar {
    overflow: hidden;
  }

  &__list {
    @include useUtilities.resetSpacing;

    display: flex;
    gap: var(--tabs-gap);

    border-bottom: 1px solid var(--color-neutral-dark, #000);

    > li {
      display: flex;
    }
  }

  &__view {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: var(--tabs-view-padding);

    &:empty {
      &:before {
        @include useTypographies.text-paragraph-xs;
        content: 'load here current view';
      }
    }
  }
}
