@use './units' as useUnits;
@use '../tools/size' as useTools;

:root {
  --spacing-00: 0; // 0
  --spacing-10: #{useTools.px2rem(calc(useUnits.$unit-base / 4))}; // 2
  --spacing-20: #{useTools.px2rem(calc(useUnits.$unit-base / 2))}; // 4
  --spacing-30: #{useTools.px2rem(calc(useUnits.$unit-base))}; // 8
  --spacing-40: #{calc(var(--spacing-30) + var(--spacing-20))}; // 12
  --spacing-50: #{useTools.px2rem(calc(useUnits.$unit-base * 2))}; // 16
  --spacing-60: #{useTools.px2rem(calc(useUnits.$unit-base * 3))}; // 24
  --spacing-70: #{useTools.px2rem(calc(useUnits.$unit-base * 4))}; // 32
}
