@use './units' as useUnit;

:root {
  --spacing-00: 0; // 0
  --spacing-10: #{px2rem(calc(useUnit.$unit-base / 4))}; // 2
  --spacing-20: #{px2rem(calc(useUnit.$unit-base / 2))}; // 4
  --spacing-30: #{px2rem(calc(useUnit.$unit-base))}; // 8
  --spacing-40: #{px2rem(calc(useUnit.$unit-base * 2))}; // 16
  --spacing-50: #{px2rem(calc(useUnit.$unit-base * 4))}; // 32
}
