.app {
  &-layout {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: min-content auto;
    min-height: 100lvh;

    &__sidebar,
    &__header {
      background: var(--color-primary-red-500, #000);
    }

    &__sidebar {
      grid-area: 1 / 1 / 3 / 2;
    }

    &__header {
      grid-area: 1 / 2 / 2 / 3;
    }

    &__content {
      grid-area: 2 / 2 / 3 / 3;
    }
  }
}
