@use '@assets/mixins/tipographies' as useTypographies;
@use '@assets/mixins/utilities' as useUtilities;

@layer base {
  body {
    @include useUtilities.resetSpacing;

    height: 100lvh;
    background: var(--color-gray-25, #000);

    * {
      box-sizing: border-box;

      &:is(button) {
        @include useUtilities.resetButton;
      }

      &:is(ul, ol, li, h1, h2, h3, h4, p, form) {
        @include useUtilities.resetSpacing;
      }
    }
  }

  body {
    @include useTypographies.text-heading-l();
  }

  #app {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
  }
}
