@use '@assets/mixins/tipographies' as useTypographies;

@layer base {
  html,
  body {
    --reset: none;
    * {
      &:is(button) {
        cursor: pointer;
        background: var(--reset);
        border: var(--reset);
        outline: var(--reset);
      }

      &:is(ul, ol, li, h1, h2, h3, h4, p, form) {
        margin: var(--reset);
        padding: var(--reset);
        list-style: var(--reset);
      }
    }
  }

  body {
    @include useTypographies.text-heading-l();
  }
}
